*{
    padding:0;
    margin:0;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.ToDoApp{
    width:400px;
    padding:30px;
    background-color: aquamarine;
}
.todoform{
    display:flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.inpt-btn{
    width:100%;
    display: flex;
    gap:5px;
}
.inpt-btn input{
    flex:3
}
.inpt-btn button{
    flex:1
}
.todoList{
    background-color: rgb(160, 160, 56);
}
